In [61]:
import pandas as pd

In [62]:
data=pd.read_csv("advertising.csv")

In [63]:
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [64]:
data.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [65]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [66]:
data.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [70]:
X=data[['TV','Radio','Newspaper']]
Y=data['Sales']

In [71]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
from sklearn.compose import ColumnTransformer

In [72]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=42)

In [73]:
X_train.head()

        TV  Radio  Newspaper
169  284.3   10.6        6.4
97   184.9   21.0       22.0
31   112.9   17.4       38.6
12    23.8   35.1       65.9
35   290.7    4.1        8.5

In [74]:
trf1=ColumnTransformer([
    ("StandardScaler",StandardScaler(),[0,1,2])
],remainder='passthrough')

In [76]:
trf2=LinearRegression()

In [77]:
pipe=Pipeline([
    ("trf1",trf1),
    ("trf2",trf2)
])

In [78]:
model=pipe.fit(X_train,Y_train)

In [79]:
Y_pred=model.predict(X_test)

In [80]:
r2_score=r2_score(Y_pred,Y_test)
mse=mean_squared_error(Y_pred,Y_test)
mae=mean_absolute_error(Y_pred,Y_test)

In [81]:
print("r2 score is ",r2_score)
print("MAE is ",mae)
print("MSE is ",mse)

r2 score is  0.8968040540303082
MAE is  1.1594875061090588
MSE is  2.5416240362291505